In [3]:
print (" Hi keshav")

 Hi keshav

In [5]:
## backslash (\) for line continuation 
total= 1+2+3+4+\
8+7+8
print(total)

33

In [6]:
## multiple statements on a Single line (;)
x=5;y=10;z=x+y
print(z)

15

In [1]:
## Understand Semnatics in python
# variable assignment
age =32 ## age is an integer

name = 'Keshav' ## name is a string

In [2]:
## type inference
print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

In [11]:
if age > 30:
    print(age)

32

In [12]:
## Declaring and assigning variables

height = 5.10
is_student = True

## printing the variables

print("age :", age)
print("height:",height)
print("name: ", name)

age : 32
height: 5.1
name:  Keshav

In [13]:
## Naming Conventions
## Variable names should be descriptive
## They must always start with a letter or an '_' and contain letter, numbers and underscores
## variables names are case sensitive

# valid variable names

first_name='keshav'
last_name='sood'

In [1]:
@firstname='keshav'

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3088056615.py, line 1)

In [18]:
# case sensitivity
Z=0
z=90
z==Z

False

In [ ]:
## Understanding variable types
## python is dynamically typed , type of a variable is determined at runtime
age = 25 # int
height = 5.11 # float
is_student = True # bool

print(type(is_student))

<class 'bool'>

In [24]:
age = 25
print(type(age))

# type conversion
age_str= str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [25]:
name

'Keshav'

In [27]:
int(height)

5

In [29]:
# Dynamic Typing
# python allows the type of a variable to change as the program executes

var = 10
print (var,type(var))

var = "hello"
print (var,type(var))

var = 3.14
print (var,type(var))

10 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>

In [32]:
age = int(input(' what is the age '))
print(age,type(age))

77 <class 'int'>

In [33]:
## simple calculator1

num1 = float (input('enter the no.1 : '))
num2 = float (input('enter the no.2 : '))

sum = num1 + num2
difference = num1 - num2
multiplication = num1 * num2
division = num1 / num2

print(sum)
print(difference)
print(multiplication)
print(division)

160.0
18.0
6319.0
1.2535211267605635

In [36]:
## floating point datatype

print(height)
print(type(height))

5.11
<class 'float'>

In [37]:
## boolean datatype
is_true= bool()
is_true

False

In [38]:
## common errors

result = 'hello' + 5

TypeError: can only concatenate str (not "int") to str

In [40]:
result = 'hello' + str(5)
result

'hello5'

Operations

In [2]:
## Arithematic operation

a = 10
b = 4
add=a+b
sub=a-b
mul=a*b
div=a/b

floor_division= a//b
modulous_result = a%b ## modulus operation
exponent_result = a**b ## exponentiation

print(add)
print(sub)
print(mul)
print(div)
print(floor_division)
print(modulous_result)
print(exponent_result)

14
6
40
2.5
2
2
10000

In [42]:
21/5

4.2

In [43]:
21//5

4

In [44]:
## comparison operators 
# (== ) Equal to
a=10
b = 10
a==b

True

In [50]:

Name='Keshav'
Name!=name

False

In [51]:
# greater than
num1=83
num2 = 55

num1>num2

True

In [52]:
a=33
b=33
a<=b

True

In [59]:
## Logical operator
## And,OR,Not

X=True
Y=False
result = X and Y
print(result)

False

In [60]:
X=False
Y=True
result =X or Y
print(result)

True

In [63]:
## Not 
X = True
not X

False