Tuple

In [3]:
packed_tuple= 1,2,3
print(packed_tuple)

(1, 2, 3)

In [5]:
# unpacking
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
2
3

In [7]:
# Unpacking with *
n= (1,2,3,4,5,6)
first,*middle,last = n
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [8]:
# Nested tuple
# Nested list

lst= [[12,13,14],[16,17,18,19],[1,'hello',3.14,'c']]
lst[0][0:3]

[12, 13, 14]

In [9]:
lst= ((12,13,14),(16,17,18,19),(1,'hello',3.14,'c'))
lst[0][0:3]

(12, 13, 14)

In [11]:
# iterating over nested tuples
for sub_tuple in lst:
    for item in sub_tuple:
        print(item,end=' ')# it should print along with this blank a new line also
    print()

12 13 14
16 17 18 19
1 hello 3.14 c

In [12]:
# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

SyntaxError: invalid decimal literal (292229542.py, line 17)

In [20]:
### Assignment 1: Creating and Accessing Tuples

# Create a tuple with the first 10 positive integers. Print the tuple.

t = tuple(range(1,11))
t

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [18]:
### Assignment 2: Accessing Tuple Elements

# Print the first, middle, and last elements of the tuple created in Assignment 1.
print(t[0])
print(t[len(t)//2])
print(t[-1])

1
6
10

In [19]:
### Assignment 3: Tuple Slicing

# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print(t[:3])
print(t[-3:])
print(t[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [23]:
### Assignment 4: Nested Tuples

# Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
matrix = ((1,2,3),
          (4,5,6),
          (7,8,9))
for i in matrix:
    print(i)
print(f'the element at 2nd row and 3rd col is : {matrix[1][2]}')

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
the element at 2nd row and 3rd col is : 6

In [24]:
### Assignment 5: Tuple Concatenation

# Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
t1= (1,2,3)
t2 = (4, 5, 6)
con = t1+t2
print(con)

(1, 2, 3, 4, 5, 6)

In [30]:
### Assignment 6: Tuple Methods

# Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
t= (1,2,2,2,4,3,4)
print(t.count(2))
print(t.index(3))

3
5

In [31]:
### Assignment 7: Unpacking Tuples

# Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
tpl = (1,2,3,4,5)
a,b,c,d,e = tpl
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [32]:
### Assignment 8: Tuple Conversion

# Convert a list of the first 5 positive integers to a tuple. Print the tuple.
lst = [1,2,3,4,5]
print(tuple(lst))

(1, 2, 3, 4, 5)

In [33]:
### Assignment 9: Tuple of Tuples

# Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
nested_tpl = ((99,88,77),(66,55,44),(33,22,11))
for i in nested_tpl:
    print (i)

(99, 88, 77)
(66, 55, 44)
(33, 22, 11)

In [36]:
### Assignment 10: Tuple and List

# Create a tuple with the first 5 positive integers. 
# Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tp1 = (1,2,3,4,5)
l1 = list(tpl)
l1.append(6)
tp2 = tuple(l1)
tp2

(1, 2, 3, 4, 5, 6)

In [42]:
### Assignment 11: Tuple and String

# Create a tuple with the characters of a string. 
# Join the tuple elements into a single string. Print the string.
st= ('kes','hav')
joined = ''.join(st)
print(joined)
print(type(joined))

keshav
<class 'str'>

In [45]:
### Assignment 12: Tuple and Dictionary

# Create a dictionary with tuple keys and integer values. Print the dictionary.
scores = {('eng'):95,('maths'):99,('science'):88}
scores

{'eng': 95, 'maths': 99, 'science': 88}

In [64]:
### Assignment 13: Nested Tuple Iteration

# Create a nested tuple and iterate over the elements, printing each element.

for i in nested_tpl:
    for j in i:
        print(j)

99
88
77
66
55
44
33
22
11

In [57]:
### Assignment 14: Tuple and Set

# Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

t= (1,2,2,2,4,3,4)
set(t)

{1, 2, 3, 4}

In [63]:
### Assignment 15: Tuple Functions

# Write functions that take a tuple and return the minimum, maximum, and sum of the elements.
#  Print the results for a sample tuple.

print(min(t))
print(max(t))
sum(t)

1
4

18