Data Manipulation and Analysis

In [11]:
import pandas as pd

In [2]:
# df = pd.read(data.csv)
# df.head()
# df.tail()
# df.describe()
# df.info()
# df.columns
# df.dtypes
# df.isnull() - True if any or false if not any
# df.isnull().sum()

In [ ]:
# Filling missing values with the mean of the column
# df['Sales_fillna'] = df['Sales'].fillna(df['Sales'].mean())

# It will be create a new column named 'Sales_fillna' and 
# have default sales as well as replaced NaN values with mean value.

In [3]:
# Renaming Columns
# df = df.rename(columns={'Date':'Sales Date'})

In [4]:
# Change Data types
# df['Value_New']= df['Value'].astype(int)

# if IntcastingNanError raising then it means there are missing values
# df['Value_New'] = df['Value'].fillna(df['Value'].mean()).astype(int)

In [ ]:
# Lets say I want to apply a function to one of the column
# For that obviously I will use lambda

# Lets say my Value rate has got increased by double of this particular value
# df['New Value']= df['Value'].apply(lambda x:x*2)

In [ ]:
# Aggregation
# Categorical column - Product

# grouped_mean = df.groupby('Product')['Value'].mean()

In [7]:
# Aggrgation
# I am trying to groupby by two different categorical variables.
# then I will take my values
# then I will do just sum the values

# grouped_mean = df.groupby(['Product','Region'])['Value'].sum()
# Total Sales based on products and regions

In [9]:
# Aggregate Multiple Functions
# grouped_agg = df.groupby('Region')['Value'].agg(['mean','sum','count'])

Merging and Joining Dataframes

In [12]:
## Merging and Joining Dataframes
# Create sample dataframes
df1 = pd.DataFrame({'Key':['A','B','C'],'Value1':[1,2,3]})
df2 = pd.DataFrame({'Key':['A','B','D'],'Value2':[4,5,6]})

In [13]:
df1

  Key  Value1
0   A       1
1   B       2
2   C       3

In [17]:
df2

  Key  Value2
0   A       4
1   B       5
2   D       6

In [18]:
# Based on a single column I am trying to merge both this particular data frame.
pd.merge(df1,df2,on='Key',how='inner')

  Key  Value1  Value2
0   A       1       4
1   B       2       5

In [20]:
pd.merge(df1,df2,on='Key',how='outer')

  Key  Value1  Value2
0   A     1.0     4.0
1   B     2.0     5.0
2   C     3.0     NaN
3   D     NaN     6.0

In [21]:
pd.merge(df1,df2,on='Key',how='left')

  Key  Value1  Value2
0   A       1     4.0
1   B       2     5.0
2   C       3     NaN