SQL and SQLite

Sqlite is a lightweight version of SQL without any configuration, you can actually create this particular database and store it in your local system.

In [2]:
import sqlite3

In [4]:
# connect to an SQlite database
connection = sqlite3.connect('example.db')
connection
# Let see whether my folder location this particular DB file is created
# we will be able to store this without any configuration
# we will be able to create it in out local system.
# so, It will be very handy to work with embedded system altogether.

In [5]:
# Cursor

# Now we will make a cursor object, which will make sure that it will iterate to all the table rows.
# So that is the reason , we really need to create a cursor.
cursor = connection.cursor()

In [6]:
# Create a Table
# Now inside a database we need to create a table by using the same cursor object.
cursor.execute('''
Create table if not Exists employees(
    id Integer primary key,
    name text not null,
    age Integer,
    department text
)
''')
# To reduce indentation - press shift + Tab

# We also need to commit the changes
connection.commit() 
# its important to write connection before commit because without this commiting will not happen

In [7]:
# Insert the data in sqlite table
cursor.execute('''
Insert into employees(name,age,department)
               values('keshav',26,'Data Scientist')
''')
cursor.execute('''
Insert into employees(name,age,department)
               values('Bob',25,'Engineering')
''')
cursor.execute('''
Insert into employees(name,age,department)
               values('Charlie',36,'Finance')
''')
# commit the changes
connection.commit()

In [9]:
# Query the data from the table
cursor.execute('select * from employees')
# after executing it,i get the rows
# for rows, i need to use cursor.fetchall
# fetchall is a function that we specifically use to get all the records from the select * command
rows = cursor.fetchall()

# print the Queried data
for row in rows:
    print(row)

(1, 'keshav', 26, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 36, 'Finance')

In [10]:
# How to create a database - connection = sqlite3.connect('example.db')
# How to connect the database
# how to iterate all the table rows - cursor = connection.cursor()
# How to create a table if that table does not exist -- cursor.execute('''  ** ''')
# How you can create and always make sure whenever you execute this kind of command - connection.commit()

In [11]:
# Update the data in the table
cursor.execute(''' 
Update employees
               set age=25
               where name = 'keshav'
''')

# commit the changes
connection.commit()
# If you don't commit, you will get an error where you will not be able to see the updated records.

In [13]:
# Query the data from the table
cursor.execute('select * from employees')
rows = cursor.fetchall()

# print the queried data
for row in rows:
    print(row)

(1, 'keshav', 25, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 36, 'Finance')

In [14]:
# Delete the data from the table
cursor.execute('''Delete from employees
               where name="Bob" ''')
connection.commit

In [15]:
cursor.execute('select * from employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'keshav', 25, 'Data Scientist')
(3, 'Charlie', 36, 'Finance')

Working with Sales data

In [22]:
# working with sales data 
# connect to an sqlite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
create table if not exists Sales1(
               id integer primary key,
               date text not null,
               product text not null,
               sales integer,
               region text
               )
''')

# Insert data into sales table
sales_data = [
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',200,'South'),
    ('2023-01-03','Product1',150,'east'),
    ('2023-01-04','Product3',250,'west'),
    ('2023-01-05','Product2',300,'North'),
]

# connection.commit() will not work because there are so many different records in the sales data
# How do I insert so many different cells at once?
# Previously you have seen about cursor.execute() and we executed all the insert statement

# How you can do the bulk insertion
cursor.executemany('''
insert into sales1(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)
# along with this question marks ???? , I know i have to replace this with something else.
# I will give it over here sales_data

connection.commit()

In [23]:
cursor.execute('select * from sales1')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'east')
(4, '2023-01-04', 'Product3', 250, 'west')
(5, '2023-01-05', 'Product2', 300, 'North')

In [25]:
# close the connection
connection.close()
# This is last statement that you can basically use.

In [26]:
# If I do cursor.execute() again it will give error because connection has closed.
cursor.execute('select * from sales1')
rows = cursor.fetchall()
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.